{% extends "index.html" %} {% block cinema %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script>
		function currentTime(){
			date = new Date();
			return date.getTime();
		}
		var userName ='{{myUserName}}';
		var namespace = '/test';
	  	var socket = io.connect('http://160.39.236.225:8080'+namespace);
	  	var identifier = Math.random();
	  	var host = false;
	  	var currVideo = null;
	  	var preTime = currentTime;
	  	socket.on('connect', function() {
	        //socket.emit('my event', {data: 'I\'m connected!'});
	    });
	    socket.on('commit join',function(msg){
	    	if(userName==msg.username){
	    		document.getElementById("room_number").value=msg.room;
	    		socket.emit('request join',{data: msg.room});
	    	}
	    });
	    socket.on('wait for video ID',function(msg){
	    	var vid = msg.currVideo;
	    	if(vid!=null&&vid!=currVideo){
	    		currVideo=vid;
	    		showMovie();
	    		switchVideo(vid,msg.startTime);
	    	}
	    });
	    socket.on('host confirm', function(msg){
	    	var roomNumber = document.getElementById("room_number");
	    	host=true;
	    	roomNumber.value=msg.data;
	    	roomNumber.readOnly=true;
	    	var roomNumberText = document.getElementById("newGeneratedNumber");
	    	roomNumberText.innerHTML=roomNumberText.innerHTML+msg.data;
	    	document.getElementById("roomNumberLabel").innerHTML="Room Number: "+msg.data;
	    	hideActionButton();
	    });
	    socket.on('join confirm', function(msg){
	    	roomNumber = document.getElementById("room_number");
	    	roomNumber.readOnly=true;
	    	document.getElementById("roomNumberLabel").innerHTML="Room Number: "+msg.data;
	    	hideActionButton();
	    });
	    socket.on('pause for new', function(){
	    	//if(host){
	    		player.pauseVideo();
	    		roomNumber = document.getElementById("room_number").value;
	    		socket.emit('broadcast ID',{ID:currVideo,startTime:player.getCurrentTime(),room:roomNumber});
	    	//}
	    });
	    socket.on('get video ID', function(msg){
	    	//showVideo();
	    	if(msg.ID!=null){
	    		showMovie();
	    		switchVideo(msg.ID);
	    		document.getElementById('selectVideo').src="{{url_for('static', filename='background/select2.jpeg')}}";
	    		document.getElementById('playListModalLabel').innerHTML="Fantastic! Excellent! A right URL!";
	    	}else{
	    		document.getElementById('selectVideo').src="{{url_for('static', filename='background/select3.jpeg')}}";
	    		document.getElementById('playListModalLabel').innerHTML="What? Is it A Right URL?";
	    	}
	    	document.getElementById('videoURL').value="";
	    });
	    socket.on('test Only', function(msg){
	    });
	    socket.on('chat message receive', function(msg){
	    	appendChat(msg.data);
	    });
	    socket.on('change video', function(msg){
	    	if(msg.identifier!=identifier){
	    		currTime = player.getCurrentTime();
	    		targetTime = msg.currTime;
	    		if(Math.abs(currTime-targetTime)>0.5){
	    			player.seekTo(targetTime);
	    		}
	    		if(msg.stop==true){
	    			player.pauseVideo();
	    		}else{
	    			player.playVideo();
	    		}
	    		preTime=currentTime();
	    		setDragInfo();
	    	}
	    });
  /////////// easy to hash
	  String.prototype.hashCode = function() {
	    var hash = 0, i, chr, len;
	    if (this.length == 0)
	      return hash;
	    for (i = 0, len = this.length; i < len; i++) {
	      chr = this.charCodeAt(i);
	      hash = ((hash << 5) - hash) + chr;
	      hash |= 0; // Convert to 32bit integer
	    }
	    return hash;
	  };

      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
       	player = new YT.Player('player', {
          height: '100%',
          width: '100%',
          videoId: 'o-WVnKSjwuY',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        }); 
      }
      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        //event.target.playVideo();
      }
      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        //alert("sdsds");
        /*currTime = player.getCurrentTime();
        var stop = false;
        if(player.getPlayerState()==2){
        	stop = true;
    	}
        videoChange(currTime, stop);*/
        if(currentTime()-preTime<1000){
        	return;
        }
        currTime = player.getCurrentTime();
        if(event.data == 2){
        	player.pauseVideo();
        	videoChange(currTime, true, identifier);
        }
        if(event.data == 1){
        	videoChange(currTime, false, identifier);
        }
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
</script>
<script>
	function requestHost(){
		socket.emit('request host',{data: 'whatever'});
		$('#hostConfirm').show(600);
		$('#hostButton').hide();
		$('#hostModal').hide();
		//hostConfirm
	}
	function requestJoin(){
		number = document.getElementById("room_number").value;
		socket.emit('request join',{data: number});
		$('#joinModal').hide();
	}
	function requestInvite(){
		room_number = document.getElementById("room_number").value;
		socket.emit('room chat',{data: 'hehah',room: room_number});
	}
	function videoChange(currTime,stop,identifier){
		room_number = document.getElementById("room_number").value;
		socket.emit('video status change',{currTime: currTime, stop: stop, room: room_number, identifier: identifier});
	}
	function hideActionButton(){
		$('#outsideHostButton').hide();
		$('#outsideJoinButton').hide();
		$('#roomInfo').show();
	}
	function pressToSend(event){
		if(event.keyCode==13){
			sendMessage();
		}
	}
	function test(event){
	}
</script>
<!-- your friend is dragging-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="hostModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="hostModalLabel" style="text-align: center">I'm The Host!</h4>
      </div>
      <div class="modal-body">
      		<div style="text-align: center;padding: 0px 0px 10px 0px">
      			<img src="{{url_for('static', filename='background/host.jpeg')}}"/>
      		</div>
      		<button id="hostButton" class="btn btn-success" onclick="requestHost()" style="width:100%">Host</button>

      		<div hidden id="hostConfirm">
      			<h4 id="newGeneratedNumber" style="text-align: center">My Room Number: </h4>
      		</div>
      </div>
    </div>
  </div>
</div>

<!-- ask for host -->
<div class="modal fade" id="hostModal" tabindex="-1" role="dialog" aria-labelledby="hostModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="hostModalLabel" style="text-align: center">I'm The Host!</h4>
      </div>
      <div class="modal-body">
      		<div style="text-align: center;padding: 0px 0px 10px 0px">
      			<img src="{{url_for('static', filename='background/host.jpeg')}}"/>
      		</div>
      		<button id="hostButton" class="btn btn-success" onclick="requestHost()" style="width:100%">Host</button>

      		<div hidden id="hostConfirm">
      			<h4 id="newGeneratedNumber" style="text-align: center">My Room Number: </h4>
      		</div>
      </div>
    </div>
  </div>
</div>
<!-- ask for join -->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="joinModalLabel" style="text-align:center">What's My Friend's Room Number?</h4>
      </div>
      <div class="modal-body">
      		<div style="text-align: center;padding: 0px 0px 10px 0px">
      			<img src="{{url_for('static', filename='background/join.jpeg')}}"/>
      		</div>
			<input type="text" class="form-control" id="room_number" autofocus>
			<button class="btn btn-primary" onclick="requestJoin()" style="width:100%">confirm</button>
      </div>
    </div>
  </div>
</div>
<!-- ask for invite -->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="inviteModalLabel" style="text-align:center">Invite My Friend!</h4>
      </div>
      <div class="modal-body">
      		<div style="text-align: center;padding: 0px 0px 10px 0px">
      			<img src="{{url_for('static', filename='background/join.jpeg')}}"/>
      		</div>
			<input type="text" class="form-control" id="phoneNumber" value="phone" autofocus>
			<input type="text" class="form-control" id="targetName" value="name">
			<button class="btn btn-primary" onclick="sendPhoneNumber()" style="width:100%">confirm</button>
      </div>
    </div>
  </div>
</div>
<!-- play list-->
<div class="modal fade" id="playListModal" tabindex="-1" role="dialog" aria-labelledby="playListModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="playListModalLabel" style="text-align: center">I Wanna Watch ... What?</h4>
      </div>
      <div class="modal-body">
      		<div style="text-align: center;padding: 0px 0px 10px 0px">
      			<img id="selectVideo" src="{{url_for('static', filename='background/select1.jpeg')}}"/>
      		</div>
			<input type="text" class="form-control" placeholder="URL from Youtube" id="videoURL" autofocus>
			<button class="btn btn-primary" onclick="fetchVideoID()" style="width:100%">
				Watch
			</button>
      </div>
    </div>
  </div>
</div>
	<div id="room-info-window" class="col-sm-3 col-md-3" style="padding:5px">
		<div id="RoomInformation" class="panel panel-default allTransparent">
			<div class="panel-heading">
				<h3 class="ui header">
  Rooms
</h3>
			</div>
			<div id="event-table" class="panel-body">
				<div class="row" id="event-table-detail">
					<div class=" col-sm-12 col-md-12">
						<div class=" col-sm-6 col-md-6">
							<!-- join button -->
							<button id="outsideHostButton" type="button" class="button btn btn-success btn-lg" data-toggle="modal" data-content="I wanna open a room!" data-target="#hostModal" style="width:100%">
							  Host
							</button>
						</div>
						<div class=" col-sm-6 col-md-6">
							<button id="outsideJoinButton" type="button" class="btn btn-primary btn-lg button" data-toggle="modal" data-content="I wanna go to my friend's room!" data-target="#joinModal" style="width:100%">
							  Join
							</button>
						</div>
						<div hidden id="roomInfo" class="col-sm-12 col-md-12">
							<h1 style="margin:0;text-align: center"><span id="roomNumberLabel" class="label label-info"></span></h1>
						</div>
						<div class="col-sm-12 col-md-12" style="margin: 10px 0px 0px 0px">
							<button type="button" class="btn btn-danger btn-lg button" data-toggle="modal" data-content="invite my friend!" data-target="#inviteModal" style="width:100%">
							  Invite
							</button>
						</div>
						<div class=" col-sm-12 col-md-12" style="margin: 10px 0px 0px 0px">
							<button id="playListButton" type="button" class="btn btn-warning btn-lg" data-toggle="modal" onclick="resetHusky()" data-target="#playListModal" style="width:100%">
							Choose A Video
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="ChatRoom" class="panel panel-default allTransparent">
			<div class="panel-heading">
				<h3 class="ui header">
				  Chat
				</h3>
			</div>
			<div id="event-table" class="panel-body">
				<div id="scrollable" style="overflow: scroll;height: 300px; margin: 0px 0px 10px 5px">
					<div id="chat-wrapper" class="col-sm-12 col-md-12 col-lg-12">
						<div id="chatresponse" class="ui comments"></div>
					</div>
				</div>
				<div class=" col-sm-9 col-md-9 " style="padding:0px 0px">
					<input type="text" class="form-control" id="chat_message" placeholder="Chat with your friend!" onkeydown="pressToSend(event)">
				</div>
				<div class=" col-sm-2 col-md-2 " style="padding:0 0 0 5%">
					<button class="btn btn-primary" onclick="sendMessage()">Send</button>
				</div>
			</div>
		</div>
	</div>
	<div id="video-window" class="col-sm-9 col-md-9" style="padding:5px;height:100%">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 id="alertInfo" class="ui header">Movie</h3>
			</div>
			<div id="event-table" class="panel-body" style="padding:0px">
				<div id="player"></div>
			</div>
		</div>
	</div>
<script>
	//roll scroll bar
	var usernameorphonenumber='{{myUserName}}';
	function scrollDown(divId){
		a = document.getElementById(divId);
		a.scrollTop=a.scrollHeight;
	}
	function resetHusky(){
		document.getElementById('selectVideo').src="{{url_for('static', filename='background/select1.jpeg')}}";
	   	document.getElementById('playListModalLabel').innerHTML="I Wanna Watch ... What?";
	}
	function fetchVideoID(){
		room_number = document.getElementById("room_number").value;
		var URL = document.getElementById("videoURL").value;
		socket.emit('URL query',{url: URL,room:room_number});
	}
	function sendMessage(){
		if(document.getElementById('chat_message').value==""){
			return;
		}
		text = '{{myUserName}}'+': '+document.getElementById('chat_message').value;
		room_number = document.getElementById("room_number").value;
		socket.emit('chat broadcast',{data: text,room: room_number});
		document.getElementById('chat_message').value="";
	}
	function appendChat(msg){
		$chatWindow = $('#chatresponse');
		var $messageLine = '<div class="comment"><a class="avatar"><img src="http://i60.tinypic.com/34ik10y.png"></a><div class="content"><a class="author">'
				+ msg.substring(0,msg.indexOf(':'))
				+ '</a><div class="metadata"><span class="date">'
				+ new Date().toLocaleTimeString()
				+ '</span></div><div class="text">'
				+ msg.substring(msg.indexOf(':')+1)
				+ '</div></div></div>';
		$chatWindow.append($messageLine);
		document.getElementById('scrollable').scrollTop=document.getElementById('scrollable').scrollHeight;
	}
	function hideAll(){
		$("#room-info-window").animate({
	    width: "0%",
	    opacity: 0,
	  	}, 0 );
	  	$("#video-window").animate({
	    width: "0%",
	    opacity: 0,
	  	}, 0 );
	}
	function showAll(){
		$("#room-info-window").animate({
	    width: "25%",
	    opacity: 1,
	  	}, 1000 );
	  	$("#video-window").animate({
	    width: "75%",
	    opacity: 1,
	  	}, 1000 );
	}
	function showInfoWindow(){
		$("#room-info-window").animate({
	    width: "25%",
	    opacity: 1,
	  	}, 1000 );
	}
	function showMovie(){
		$("#video-window").animate({
	    width: "75%",
	    opacity: 1,
	  	}, 1000 );
	}
	function hideVideo(){
		$("#player").hide();
	}
	function showVideo(){
		$("#player").show(10);
	}
	function switchVideo(id,startTime){
		currVideo=id;
		player.loadVideoById(id, startTime);
		player.pauseVideo();
	}
	function alertDrag(){
		var al = document.getElementById('alertInfo');
		al.innerHTML= 'Movie'+' (My friend is draging!)';
	}
	function alertcancel(){
		var al = document.getElementById('alertInfo');
		al.innerHTML= 'Movie';
	}
	function setDragInfo(){
		alertDrag();
		setTimeout(alertcancel, 1000);
	}
	function sendPhoneNumber(){
		var room = document.getElementById("room_number").value;
		var phonenumber = document.getElementById('phoneNumber').value;
		socket.emit('waiting for invitation',{room:room,number:phonenumber});
	}
	//setInterval(function(){ alert("Hello"); }, 3000);/
	var transp = 0;
	var flag=true;
	setInterval(function(){
		var color = 'rgba(0, 0, 0,'
		if(transp>0.05){flag=false;}
		if(transp<0){flag=true;}
		if(flag){
			transp=transp+0.01*Math.random();
		}else{
			transp=transp-0.01*Math.random();
		}
		color= color+transp+')';
		document.getElementById("RoomInformation").style.backgroundColor=color;
		document.getElementById("ChatRoom").style.backgroundColor=color;
	},100);
	var width = document.getElementById("player").offsetWidth;
	document.getElementById("player").style.height=width*0.6+"px";
	hideAll();
	showInfoWindow();
	//showAll();
	//switchVideo();

$('.button').popup({
    on: 'hover',
    closable: false
});
</script>
{% endblock %}
