<!doctype html>
<html class="no-js" lang="en" > 
<head>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-2.1.3.js')}}"></script>
<link rel="stylesheet" type="text/css" media="screen"
	href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css" />
<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/semantic.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/background.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/back2.css')}}" rel="stylesheet">
<link async href="http://fonts.googleapis.com/css?family=Monoton" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
<style>
		.night-hotel {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: -1px;
  border: none;
  font: normal 30px/1 "Monoton", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 0 10px rgb(255,255,255) , 0 0 20px rgb(255,255,255) , 0 0 30px rgb(255,255,255) , 0 0 40px rgb(255,17,119) , 0 0 70px rgb(255,17,119) , 0 0 80px rgb(255,17,119) , 0 0 100px rgb(255,17,119) , 0 0 150px rgb(255,17,119) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.night-hotel:hover {
  text-shadow: 0 0 5px rgb(255,255,255) , 0 0 10px rgb(255,255,255) , 0 0 15px rgb(255,255,255) , 0 0 20px rgb(255,17,119) , 0 0 35px rgb(255,17,119) , 0 0 40px rgb(255,17,119) , 0 0 50px rgb(255,17,119) , 0 0 75px rgb(255,17,119) ;
}
		
		</style>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/moment.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/semantic.js')}}"></script>
<script type="text/javascript"
	src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/src/js/bootstrap-datetimepicker.js"></script>
<title>Hello from Flask</title>
</head>
<body>
<nav id="entireNav" class="navbar navbar-inverse" role="navigation" style="margin:0;background-color: rgba(0,0,0,0.7)">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">

			<a class="navbar-brand" href="/"><div class="night-hotel">FanSee</div></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">

			<div class="navbar-form navbar-right">
				{% if not session.logged_in %}
				<div class="form-group" id="undiv">
					<input type="text" pattern='[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}' class="form-control" id="username"
						placeholder="Phone Number">
				</div>
				<div class="form-group" id="pwdiv">
					<input type="password" class="form-control" id="password"
						placeholder="Password">
				</div>
				<div class="form-group">
					<button class="ui teal button" onclick="signin()" id="signin">SignIn</button>
				</div>
				<div class="form-group">
					<button class="ui yellow button" id="signup" data-toggle="modal" data-target="#signupmodel">SignUp</button>
				</div>

 				{% else %}
				<div class="form-group"><div class="ui inverted basic active button"><i class="user icon"></i>Hi, {{myUserName}}</div></div>
				<div class="form-group"><form action='logout' method=post>
				    
				      <input type=submit value=Logout class="btn btn-danger">
				    
				  </form>
</div>
  				{% endif %}
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid --> </nav>
	<div>
	{% block cinema %}{% endblock %}
	</div>
	
  <div class="modal fade" id="signupmodel" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="joinModalLabel" style="text-align:center">Join and Enjoy</h4>
      </div>
      <div class="modal-body">
	
	<form class="form-signin" id="signupform">
        <label for="inputEmail" class="sr-only">Phone Number</label>
        <input type="tel" pattern='[0-9]{10}'  id="inputEmail" class="form-control" placeholder="Phone Number (10 digits)" required autofocus><p></p>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required><p></p>
	<label for="inputPassword" class="sr-only">Name</label>
        <input type="text" id="inputName" class="form-control" placeholder="Name" required><p></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="hahahasignup">Sign Up</button>
      </form>
	<div class="ui negative message" id='signupwrongusername'>
  <i class="close icon"></i>
  <div class="header">
    We're sorry we can't create that account
  </div>
  <p>The phone number is used.
</p></div>

<div class="ui success message" id='signupsuccess'>
  <i class="close icon"></i>
  <div class="header">
    Your user registration was successful.
  </div>
  <p>You may return to log-in page in 5 second.</p>
</div>
      </div>
    </div>
  </div>
</div>
<script>
$('#signupform').submit(function(evt) {
	$('#signupwrongusername').hide();
	$('#signupsuccess').hide();
	evt.preventDefault();
		document.getElementById("hahahasignup").disabled = true;
		$.ajax({
			url : "/signup",
			type : 'POST',
			data : JSON.stringify({
				username : document.getElementById("inputEmail").value,
				password : document.getElementById("inputPassword").value,
				name : document.getElementById("inputName").value
			},null,'\t'),
			contentType: 'application/json;charset=UTF-8',
			success : function(result) {
				document.getElementById("hahahasignup").disabled = false;
				if(result.success==true){
					$('#signupsuccess').show();
					setTimeout(function(){ location.reload();; }, 5000);
				}
				else{
					$('#inputEmail')
  						.transition('shake')
					;
					$('#signupwrongusername').show();
;

				}
			}
		});
		
	});
function validateEmail(email) {
		var re = /^[0-9]\d{9}/;
		return re.test(email);
	}
function signin() {
		var tmp = true;
		uid = document.getElementById("username").value;
		pword = document.getElementById("password").value;

		if (!validateEmail(uid)) {
			tmp = false;
			document.getElementById('undiv').className += ' has-error';
			$('#username')
  						.transition('shake')
					;
		}

		if (pword == "") {
			tmp = false;
			document.getElementById('pwdiv').className += ' has-error';
			$('#password')
  						.transition('shake')
					;
		}

		if (tmp) {
			document.getElementById("signin").disabled = true;
		$.ajax({
			url : "/login",
			type : 'POST',
			data : JSON.stringify({
				username : document.getElementById("username").value,
				password : document.getElementById("password").value
			},null,'\t'),
			contentType: 'application/json;charset=UTF-8',
			success : function(result) {
				document.getElementById("signin").disabled = false;
				if(result.success==true)
					location.reload();
				else{
					document.getElementById('pwdiv').className += ' has-error';					
					document.getElementById('undiv').className += ' has-error';
					$('#username')
  						.transition('shake')
					;
					$('#password')
  						.transition('shake')
					;
				}
			}
			});
		}
	}
$('#signupwrongusername').hide();
$('#signupsuccess').hide();
</script>

</div>
</body>
</html>
